@import "https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css";

span.bold {
    font-weight: bold;
}

span {
    line-height: 1.5em !important;
}



/*フォント：色付きマーカー*/
.red-marker {background:rgba(0, 0, 0, 0) linear-gradient(transparent 60%, #FFDFEF 0%) repeat scroll 0 0;}
.blue-marker {background:rgba(0, 0, 0, 0) linear-gradient(transparent 60%, #cce5ff 0%) repeat scroll 0 0;}
.yellow-marker {background:rgba(0, 0, 0, 0) linear-gradient(transparent 60%, #ffffbc 0%) repeat scroll 0 0;}
.green-marker {background:rgba(0, 0, 0, 0) linear-gradient(transparent 60%, #DFF0D8 0%) repeat scroll 0 0;}

/* ボックスデザイン */
.normal-box {
    border: 1px solid silver;
    padding: 15px;
    margin-bottom: 3em;
}

.yellow-box, .information-box {
    background-color: #FCFFD8;
    border: 1px solid silver;
    padding: 15px;
    margin-bottom: 3em;
}

.information-box:before {
    content: "\f05a\0020Information";
    font-family: FontAwesome;
    width: 100%;
    display: inline-block;
    position: relative;
    text-align: center;
}

.warning-box {
    color: #B74D4F;
    background-color: #FFDFEF;
    border: 1px solid silver;
    padding: 15px;
    margin-bottom: 3em;
}

.warning-box p, .warning-box .bold {
    color: #B74D4F;
}

.warning-box:before {
    content: "\f071\0020注意";
    font-family: FontAwesome;
    width: 100%;
    display: inline-block;
    position: relative;
    text-align: center;
}

.green-box {
    background-color: #DFF0D8;
    border: 1px solid silver;
    padding: 15px;
    margin-bottom: 3em;
}

.normal-box p, .yellow-box p, .information-box p, .warning-box p, .green-box p {
    padding: 0 !important;
    margin: 0 !important;
}

.normal-box ul, .yellow-box ul, .information-box ul, .warning-box ul, .green-box ul,
.normal-box ol, .yellow-box ol, .information-box ol, .warning-box ol, .green-box ol {
    padding: 0 !important;
    margin: 0 !important;
    margin-left: 30px !important;
}

/* フォントを指定するクラス */
body.mceContentBody {
    font-size: 18px;
    font-family: 'Meiryo UI', sans-serif;
    padding: 20px !important;
}

body.editor-area {
    color: #333;
}

body.editor-area p {
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 3em;
}

body.editor-area h2 {
    margin: 20px 0;
    border-top: 2px solid dodgerblue;
    border-bottom: 2px solid dodgerblue;
    padding-left: 20px;
    line-height: 2.0;
}

.editor-area h3 {
    margin: 20px  0 20px;
    border-left: 5px solid #333;
    padding-left:20px;
    line-height: 2;
}


.editor-area ul,.editor-area ol {
    margin-bottom: 54px;
}

.editor-area blockquote p {
    margin-bottom: 1em !important;
}
.editor-area blockquote {
    padding: 1em 1em 1em 3em;
    position: relative;
    border: 2px solid #666;
    margin-bottom: 3em;
}

.editor-area blockquote:before {
    content:"“";
    font-size: 400%;
    line-height: 1em;
    font-family: "MS Pゴシック", sans-serif;
    color: #999;
    position:absolute;
    left: 5px;
    top: 5px;
}

.editor-area blockquote:after {
    content:"”";
    font-size: 400%;
    line-height: 0;
    font-family: "MS Pゴシック", sans-serif;
    color: #999;
    position:absolute;
    right: 5px;
    bottom: 5px;
}